@charset "utf-8";
body{
  margin:0px;
  padding: 0p;
  background-color: #161616;
}
html{
  scroll-behavior: smooth;
}
ul{
  list-style: none;

}
a{
  text-decoration:none;
}
#main{
  width:100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #edf1fd;
  position: relative;
  background-image: url("G:/Portofolio/top-view-black-color-workspace-with-computer-keyboard-smartphone-pen-notebook-black-leather-top-table_44344-2002.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: calibri;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
  z-index: 1;
}
.menu{
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color:#6c707c;
    font-size: 12px;
}
.lang{
    color:#292929;
}
.logo{
    font-size: 25p;
    font-weight: bold;
    color: #292929;
    font-family: Poppins;
}
.menu li a:hover,
.menu li a.active{
  background-color: #292929;
  color:#FFFFFF;
  font-weight: 700;
  transition: all ease 0.4s;
}
.name{
  font-family: calibri;
  width: 500px;
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-20%,-50%);
}
.name p:nth-child(1),
.name .details{
  color: #6c707c;
  font-size: 16px;
}
.name h1{
  font-family: Poppins;
  font-size: 40px;
  margin: 0px;
  letter-spacing: 3px;
  color: #292929;
}
.cv-btn{
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292929;
  color:#FFFFFF;
}
.cv-btn:hover{
  background-color: #131313;
  transition: all ease 0.5s;
}
.social{
  position: absolute;
  left: 50px;
  bottom: 50px;
  display:flex;
}
.social a{
  margin: 6px 12px;

}
.social i{
  color:rgba(18,17,17,0,4);
  font-size: 14px;

}
.social a :hover i{
  color: #17d1ac;
  transition : all ease 0.5s;
}
.arrow{
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
  bottom: 0px;
  left: -3%;
  border-right: 1px solid rgba(41,41,41,0.3);
}
.arrow::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0px 11px;
  border-color:  #131313 transparent transparent transparent;
  right: -0.7em;
  bottom: -2px;
}
#about{
  width:100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50 px 5% 0px 5%;
}
.about-text {
  font-family: calibri;
  width: 50%;
  align-text: center;

}
.about-text h1{
  font-size: 5rem;
  color: #17d1ac;
}
.about-text h1{
  margin: 0px;
  padding: 0px;

}
.about-text p{
  font-size: 1.2rem;
  color: rgba(251,251,251,0.90)
}
.about-text button{
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #17d1ac;


}
.about-text button:hover{
  background-color: #FFFFFF;
  transition: all ease 0.3s;
}

#skills{
  
  background-color: #edf1fd;
  padding: 100px 50 px;
  background: url("G:/Portofolio/flat-lay-office-dark-table-computer-notepad-mouse-pen-p-working-place-copy-space-keyboard-smartphone-black-screen-115868691.jpg");
  background-size: cover;
  color: #edf1fd;
}
.section-info{
  font-size: 30px;
  row-gap: 2rem;
  text-align: center;
}
.skills-row{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(45,52,54);
  padding: 50px
}
.skills-left-col{
  flex-basis:50%;
}
.skills-left-col{
  font-size:25px
}
.skills-right-col{
  flex-basis:50%;
}
progress{
  width:80%;
}
.progress-div{
  width:70%;
  margin:auto;
}
.progress-div p{
  margin-bottom:10px;
  font-size:20px;
  padding-left:80px;
  text-align:justify;
}
.c-btn{
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #17d1ac;

}
